$fontSize: 20;
$spacingMultiplier: 0.175;
$breakpointMultiplier: 0.75;

$large: 2rem;
$largeSpacing: $large * $spacingMultiplier;
$medium: $large * $breakpointMultiplier;
$mediumSpacing: $large * $spacingMultiplier;
$small: $medium * $breakpointMultiplier;
$smallSpacing: $medium * $spacingMultiplier;
$handheld: $small * $breakpointMultiplier;
$handheldSpacing: $small * $spacingMultiplier;

html {
  font-size: $fontSize;
}

.Index {
  font-family: helvetica, sans-serif;
  a {
    cursor: pointer;
  }

  p {
    font-weight: lighter;
  }

  &-headerBox {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    .TitleBox {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      h1 {
        margin: 0.75rem 0;
      }

      h2 {
        margin: 0;
      }
    }
  }

  &-siteImage {
    position: relative;
    display: inline;
    width: auto;
    vertical-align: bottom;
    margin-right: 25px;
  }

  iframe {
    max-width: 100%;
    max-height: 100%;
  }

  &-header {
    text-align: center;
    line-height: 1;
  }

  &-subheader {
    line-height: 1;
    text-align: center;
  }


  @media only screen and (max-width : 415px) {
    &-siteImage {
      display: none;
      height: 45px;
    }

    &-header {
      display: inline;
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-subheader {
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    /*&-header {
      display: inline;
      font-size: $handheld;
      letter-spacing: $handheldSpacing;
    }

    &-subheader {
      font-size: $handheld;
      letter-spacing: $handheldSpacing;
    }

    &-info {
      p {
        font-size: 0.85rem;
      }
    }*/
  }

  @media only screen and (min-width: 416px) and (max-width : 555px) {
    &-siteImage {
      display: inline;
      height: 45px;
    }

    &-header {
      display: inline;
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-subheader {
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-info {
      p {
        font-size: 0.85rem;
      }
    }
  }

  @media only screen and (min-width : 556px) and (max-width: 809px) {
    &-siteImage {
      position: relative;
      top: -1px;
      height: 3.75rem;
    }

    &-header {
      display: inline-block;
      /*font-size: 1.25rem;*/
      font-size: $medium;
      /*letter-spacing: $mediumSpacing;*/
      letter-spacing: $mediumSpacing;
      h1 {
        margin: 0.5625rem 0;
      }
    }

    &-subheader {
      /*font-size: 1.25rem;*/
      font-size: $medium;
      /*letter-spacing: 0.30rem;*/
      letter-spacing: $mediumSpacing;
    }

    &-info {
      font-size: 0.85rem;
    }

    &-voiceDemo {
      width: 100%;
    }
  }

  &-info {
    margin: 0px 15px;
    p {
      width: 100%;
    }
  }

  @media only screen and (min-width : 810px) {
    &-siteImage {
      top: -1.5px;
      height: 4.75rem;
    }

    &-header {
      display: inline-block;
      font-size: $large;
      letter-spacing: $largeSpacing;
    }

    &-subheader {
      font-size: $large;
      letter-spacing: $largeSpacing;
    }

    &-info {
      font-size: 1.1rem;
    }

    &-voiceDemo {
      padding: 0 15px;
    }
  }

  &-info {
    margin: 0px 15px;
    p {
      width: 100%;
    }
  }

  &-voiceDemo {
   
    .DemoWidget {
      margin: 5px 0;
    }
  }

  .Contact {
    a {
      text-decoration: none;
    }
  }
}