@font-face {
  font-family: rough-simple;
  src: url("../fonts/rough_simple/Rough Simple.ttf"); }
@font-face {
  font-family: pink-bunny;
  src: url("../fonts/pink_bunny/Pink Bunny.ttf"); }
@font-face {
  font-family: pink-bunny2;
  src: url("../fonts/pink_bunny/Pink Bunny 2.ttf"); }
@font-face {
  font-family: mrseaves;
  src: url("../fonts/ufonts.com_mrseavessmallcaps.ttf"); }
@font-face {
  font-family: bookmania;
  src: url("../fonts/Bookmania Regular.otf"); }
html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

html {
  font-size: 18;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  color: #111111; }

body {
  background-color: #7fd0bb; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #7fd0bb;
  font-weight: bolder; }

span {
  font-weight: bolder;
  color: #59493d; }

h1 {
  color: #222222; }

h2 {
  color: #222222; }

.Index {
  width: 42rem;
  background-color: #e2edb6;
  font-family: mrseaves;
  font-weight: 300;
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2rem; }
  .Index-info {
    font-family: bookmania;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem 0;
    margin-bottom: 1rem; }
  .Index-headerBox {
    font-weight: bolder;
    text-align: center;
    width: 100%; }
    .Index-headerBox .TitleBox {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4rem; }
      .Index-headerBox .TitleBox h1 {
        margin: 0.75rem 0; }
      .Index-headerBox .TitleBox h2 {
        margin: 0; }
  .Index-siteImage {
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin-right: 25px; }
  .Index-header {
    text-align: center;
    line-height: 1; }
  .Index-subheader {
    line-height: 1;
    text-align: center; }
  .Index nav {
    margin-top: 15px;
    text-align: center; }
  .Index-voiceDemo {
    max-width: 36rem;
    margin: 0 auto; }
    .Index-voiceDemo .DemoWidget {
      margin: 5px 0; }
  .Index-contact {
    text-align: center; }
    .Index-contact a {
      transition: 0.1s font-weight ease-in-out; }
      .Index-contact a:hover {
        font-weight: 600; }
    .Index-contact p {
      margin: 0 auto; }
  .Index footer {
    margin: 22.5px 0;
    text-align: center; }
    .Index footer .socialMediaIcons-icon {
      border-radius: 50%; }
    .Index footer .socialMediaIcons-icon--overlay {
      margin: 5px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: top;
      transition: 0.175s background-color ease-in-out; }
      .Index footer .socialMediaIcons-icon--overlay:hover {
        background: #222222; }
      .Index footer .socialMediaIcons-icon--overlay img {
        transition: 0.175s opacity ease-in-out; }
        .Index footer .socialMediaIcons-icon--overlay img:hover {
          opacity: 0.5; }
  @media only screen and (max-width: 415px) {
    .Index {
      max-width: 17rem; }
      .Index a {
        font-size: 0.891rem; }
      .Index-siteImage {
        margin-right: 5px;
        background-image: url("../assets/taejinlogocropped_handheld.png");
        width: 53px;
        height: 42px;
        bottom: 3px; }
      .Index-headerBox {
        padding-top: 1rem; }
      .Index-header {
        display: inline;
        font-size: 1.28rem;
        letter-spacing: 0.28rem; }
      .Index-subheader {
        font-size: 1.28rem;
        letter-spacing: 0.28rem; }
      .Index-header {
        display: inline;
        font-size: 1.024rem;
        letter-spacing: 0.224rem; }
      .Index-subheader {
        font-size: 1.024rem;
        letter-spacing: 0.224rem; }
      .Index iframe {
        height: 82.944; }
      .Index-info {
        width: 100%; }
        .Index-info p {
          font-size: 0.891rem; }
      .Index footer .socialMediaIcons-icon {
        width: 51.5865px;
        height: auto; } }
  @media only screen and (min-width: 416px) and (max-width: 555px) {
    .Index {
      max-width: 23rem; }
      .Index a {
        font-size: 0.99rem; }
      .Index-siteImage {
        background-image: url("../assets/taejinlogocropped_small.png");
        background-repeat: no-repeat;
        width: 57px;
        height: 45px;
        bottom: 3px; }
      .Index-header {
        display: inline;
        font-size: 1.28rem;
        letter-spacing: 0.28rem; }
      .Index-subheader {
        font-size: 1.28rem;
        letter-spacing: 0.28rem; }
      .Index iframe {
        height: 103.68; }
      .Index-info {
        width: 85%; }
        .Index-info p {
          font-size: 0.99rem; }
      .Index footer .socialMediaIcons-icon {
        width: 60.69px;
        height: auto; } }
  @media only screen and (min-width: 556px) and (max-width: 809px) {
    .Index {
      max-width: 28rem; }
      .Index a {
        font-size: 1.1rem; }
      .Index-siteImage {
        background-image: url("../assets/taejinlogocropped_medium.png");
        background-repeat: no-repeat;
        width: 86px;
        height: 68px;
        bottom: 3px; }
      .Index-header {
        display: inline-block;
        font-size: 1.6rem;
        letter-spacing: 0.35rem; }
        .Index-header h1 {
          margin: 0.5625rem 0; }
      .Index-subheader {
        font-size: 1.6rem;
        letter-spacing: 0.35rem; }
      .Index iframe {
        height: 129.6; }
      .Index iframes {
        height: 6.4rem; }
      .Index-info {
        width: 85%;
        font-size: 1.1rem; }
      .Index footer .socialMediaIcons-icon {
        width: 71.4px;
        height: auto; } }
  @media only screen and (min-width: 810px) {
    .Index {
      max-width: 42rem; }
      .Index a {
        font-size: 1.1rem; }
      .Index-siteImage {
        background-image: url("../assets/taejinlogocropped_large.png");
        background-repeat: no-repeat;
        width: 109px;
        height: 86px;
        bottom: 3px; }
      .Index-header {
        display: inline-block;
        font-size: 2rem;
        letter-spacing: 0.35rem; }
      .Index-subheader {
        font-size: 2rem;
        letter-spacing: 0.35rem; }
      .Index iframe {
        height: 162; }
      .Index-info {
        width: 85%;
        font-size: 1.1rem; }
      .Index footer .socialMediaIcons-icon {
        width: 84px;
        height: auto; }
        .Index footer .socialMediaIcons-icon--overlay {
          height: 84px;
          width: 84px; } }

/*# sourceMappingURL=main.css.map */
