html {
  font-size: 20px;
}

.Index {
  font-family: helvetica, sans-serif;
  a {
    cursor: pointer;
  }

  p {
    font-weight: lighter;
  }

  &-headerBox {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    .TitleBox {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      h1 {
        margin: 0.75rem 0;
      }

      h2 {
        margin: 0;
      }
    }
  }

  &-siteImage {
    position: relative;
    display: inline;
    width: auto;
    vertical-align: bottom;
    margin-right: 25px;
  }

  iframe {
    max-width: 100%;
    max-height: 100%;
  }

  &-header {
    text-align: center;
    line-height: 1;
  }

  &-subheader {
    line-height: 1;
    text-align: center;
  }


  @media only screen and (max-width : 555px) {
    &-siteImage {
      display: inline;
      height: 45px;
    }

/*    &-header {
      display: inline;
      font-size: 0.75rem;
      letter-spacing: 0.15rem;
    }

    &-subheader {
      font-size: 0.75rem;
      letter-spacing: 0.15rem;
    }

    &-info {
      p {
        font-size: 0.85rem;
      }
    }*/
  }

  @media only screen and (min-width : 556px) and (max-width: 689px) {
    &-siteImage {
      position: relative;
      top: -1px;
      height: 3.75rem;
    }

    &-header {
      display: inline-block;
      font-size: 1.5rem;
      letter-spacing: 0.30rem;
      h1 {
        margin: 0.5625rem 0;
      }
    }

    &-subheader {
      font-size: 1.5rem;
      letter-spacing: 0.30rem;
    }

    &-info {
      font-size: 0.85rem;
    }

    &-voiceDemo {
      width: 100%;
    }
  }

  &-info {
    margin: 0px 15px;
    p {
      width: 100%;
    }
  }

  @media only screen and (min-width : 690px) {
    &-siteImage {
      top: -1.5px;
      height: 4.75rem;
    }

    &-header {
      display: inline-block;
      font-size: 2rem;
      letter-spacing: 0.35rem;
    }

    &-subheader {
      font-size: 2rem;
      letter-spacing: 0.35rem;
    }

    &-info {
      font-size: 1.1rem;
    }

    &-voiceDemo {
      padding: 0 15px;
    }
  }

  &-info {
    margin: 0px 15px;
    p {
      width: 100%;
    }
  }

  &-voiceDemo {
   
    .DemoWidget {
      margin: 5px 0;
    }
  }

  .Contact {
    a {
      text-decoration: none;
    }
  }
}