$fontSize: 18;

$maxWidth: 60rem;

$spacingMultiplier: 0.175;
$breakpointMultiplier: 0.80;
$imageBreakpointMultiplier: 0.85;
$fontBreakpointMultiplier: 0.90;
$iframeBreakpointMultiplier: 0.80;

$large: 2rem;
$largeSpacing: $large * $spacingMultiplier;
$medium: $large * $breakpointMultiplier;
$mediumSpacing: $large * $spacingMultiplier;
$small: $medium * $breakpointMultiplier;
$smallSpacing: $medium * $spacingMultiplier;
$handheld: $small * $breakpointMultiplier;
$handheldSpacing: $small * $spacingMultiplier;

$indexWidthLarge: 42rem;
$indexWidthMedium: 28rem;
$indexWidthSmall: 23rem;
$indexWidthHandheld: 17rem;


$fontLarge: 1.1rem;
$fontMedium: $fontLarge * $fontBreakpointMultiplier;
$fontSmall: $fontMedium * $fontBreakpointMultiplier;
$fontHandheld: $fontSmall * $fontBreakpointMultiplier;

$imageLarge: 84px;
$imageMedium: $imageLarge * $imageBreakpointMultiplier;
$imageSmall: $imageMedium * $imageBreakpointMultiplier;
$imageHandheld: $imageSmall * $imageBreakpointMultiplier;

$iframeLarge: 9*$fontSize;
$iframeMedium: $iframeLarge * $iframeBreakpointMultiplier;
$iframeSmall: $iframeMedium * $iframeBreakpointMultiplier;
$iframeHandheld: $iframeSmall * $iframeBreakpointMultiplier;

$transitionSpeed: 0.1s;

$mainColor: #59493d;
$secondaryColor: #59493d;
$headerColor: #222222;

@font-face {
    font-family: rough-simple;
    src: url('../fonts/rough_simple/Rough\ Simple.ttf');
}

@font-face {
    font-family: pink-bunny;
    src: url('../fonts/pink_bunny/Pink\ Bunny.ttf');
}

@font-face {
    font-family: pink-bunny2;
    src: url('../fonts/pink_bunny/Pink\ Bunny\ 2.ttf');
}

@font-face {
    font-family: mrseaves;
    src: url('../fonts/ufonts.com_mrseavessmallcaps.ttf');
}

@font-face {
    font-family: bookmania;
    src: url('../fonts/Bookmania\ Regular.otf');
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-size: $fontSize;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  -webkit-font-smoothing: antialiased;
  color: #111111;
}

body {
  background-color: #7fd0bb;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #7fd0bb;
  font-weight: bolder;
}

span {
  font-weight: bolder;
  color: $mainColor;
}

h1 {
  color: $headerColor;
}

h2 {
  color: $headerColor;
}
.Index {
  width: $indexWidthLarge;
  background-color: #e2edb6;
  font-family: mrseaves;
  font-weight: 300;
  max-width: $maxWidth;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  &-info {
    font-family: bookmania;
    margin: 0 auto;
    width: 60%;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }
  
  &-headerBox {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    .TitleBox {
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      h1 {
        margin: 0.75rem 0;
      }

      h2 {
        margin: 0;
      }
    }
  }

  &-siteImage {
    background-repeat: no-repeat;  
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin-right: 25px;
  }

  &-header {
    text-align: center;
    line-height: 1;
  }

  &-subheader {
    line-height: 1;
    text-align: center;
  }

  nav {
    margin-top: 15px;
    text-align: center;
  }

  &-voiceDemo {
    max-width: 0.60 * $maxWidth;
    margin: 0 auto;

    .DemoWidget {
      margin: 5px 0;
    }
  }

  &-contact {
    a {
      &:hover {
        font-weight: 600;
      }
      transition: $transitionSpeed font-weight ease-in-out;
    }
    p {
      margin: 0 auto;
    }
    
    text-align: center;
  }

  footer {
    margin: 22.5px 0;
    text-align: center;
    .socialMediaIcons {
      &-icon {
        border-radius: 50%;
      }
    }
    .socialMediaIcons {
      &-icon {
        &--overlay { 
          margin: 5px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: top;
          &:hover {
            background: #222222;
          }
          transition: $transitionSpeed*1.75 background-color ease-in-out;
          
          img {
            &:hover {
              opacity: 0.5;
            }
            transition: $transitionSpeed*1.75 opacity ease-in-out;
          }
        }
      }
    }
  }


  @media only screen and (max-width : 415px) {
    max-width: $indexWidthHandheld;
    a {
      font-size: $fontSmall;
    }

    &-siteImage {
      margin-right: 5px;
      background-image: url('../assets/taejinlogocropped_handheld.png');
      width: 53px;
      height: 42px;
      bottom: 3px;
    }

    &-headerBox {
      padding-top: 1rem;
    }

    &-header {
      display: inline;
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-subheader {
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-header {
      display: inline;
      font-size: $handheld;
      letter-spacing: $handheldSpacing;
    }

    &-subheader {
      font-size: $handheld;
      letter-spacing: $handheldSpacing;
    }

    iframe {
      height: $iframeHandheld;
    }

    &-info {
      width: 100%;
      p {
        font-size: $fontSmall;
      }
    }

    footer {
      .socialMediaIcons {
        &-icon {
          width: $imageHandheld;
          height: auto;
        }
      }
    }
  }

  @media only screen and (min-width: 416px) and (max-width : 555px) {
    max-width: $indexWidthSmall;
    a {
      font-size: $fontMedium;
    }

    &-siteImage {
      background-image: url('../assets/taejinlogocropped_small.png');
      background-repeat: no-repeat;
      width: 57px;
      height: 45px;
      bottom: 3px;
    }


    &-header {
      display: inline;
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    &-subheader {
      font-size: $small;
      letter-spacing: $smallSpacing;
    }

    iframe {
      height: $iframeSmall;
    }

    &-info {
      width: 85%;
      p {
        font-size: $fontMedium;
      }
    }

    footer {
      .socialMediaIcons {
        &-icon {
          width: $imageSmall;
          height: auto;
        }
      }
    }
  }

  @media only screen and (min-width : 556px) and (max-width: 809px) {
    max-width: $indexWidthMedium;
    a {
      font-size: $fontLarge;
    }

    &-siteImage {
      background-image: url('../assets/taejinlogocropped_medium.png');
      background-repeat: no-repeat;
      width: 86px;
      height: 68px;
      bottom: 3px;
    }

    &-header {
      display: inline-block;
      font-size: $medium;
      letter-spacing: $mediumSpacing;
      h1 {
        margin: 0.5625rem 0;
      }
    }

    &-subheader {
      font-size: $medium;
      letter-spacing: $mediumSpacing;
    }

    iframe {
      height: $iframeMedium;
    }

    iframes {
      height: 6.4rem;
    }

    &-info {
      width: 85%;
      font-size: $fontLarge;
    }

    footer {
      .socialMediaIcons {
        &-icon {
          width: $imageMedium;
          height: auto;
        }
      }
    }
  }

  @media only screen and (min-width : 810px) {
    max-width: $indexWidthLarge;
    a {
      font-size: $fontLarge;
    }

    &-siteImage {
      background-image: url('../assets/taejinlogocropped_large.png');
      background-repeat: no-repeat;
      width: 109px;
      height: 86px;
      bottom: 3px;
    }

    &-header {
      display: inline-block;
      font-size: $large;
      letter-spacing: $largeSpacing;
    }

    &-subheader {
      font-size: $large;
      letter-spacing: $largeSpacing;
    }

    iframe {
      height: $iframeLarge;
    }

    &-info {
      width: 85%;
      font-size: $fontLarge;
    }

    footer {
      .socialMediaIcons {
        &-icon {
          width: $imageLarge;
          height: auto;
          &--overlay { 
            height: $imageLarge;
            width: $imageLarge; 
          }
        }
      }
    }
  }

 
}